$main-bg-color: #fefcf7;
$main-bg-sections-color: #293039;
$main-bg-text-color: #0e8784;
$main-one-text-color: #83888f;
$main-two-text-color: #fefcf7;
$main-three-text-color: #333d4b;
$main-four-text-color: #fdd6ba;

// fonts

$fonts-fraunces: "Fraunces";
$fonts-barlow: "Barlow";
